@import 'todomvc-app-css/index.css';

body,
#root {
  max-width: 1000px;
}

#layout {
  display: flex;
  flex-direction: row;
}

#nav {
  display: flex;
  flex-direction: column;
  width: 150px;
  font-size: 125%;
  padding-top: 155px;
  margin-right: 30px;
}

.todoapp {
  flex: 1;
  margin-right: 180px;
  margin-top: 150px;
}

.todoapp h1 {
  top: -155px !important;
}

#nav a {
  display: block;
  margin-bottom: 0.6em;
  text-align: right;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: absolute;
  width: 100%;
  top: -2.8em;
  align-items: center;
  font-size: 110%;
}

#toolbar #login {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 110%;
}

#toolbar #buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex: 1;
}

#toolbar label {
  margin-right: 1ex;
}

#toolbar input[type='button'] {
  font-size: 110%;
  margin-left: 1.5ex;
  padding: 0.5ex 1.3ex;
}

#no-list-selected {
  padding: 1em 2em;
  font-size: 120%;
}
